@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
#main-box{
  width:90%;
  margin:60px auto;
  overflow: hidden;
  background-color: #7ebbec;
}
.content-box{
  float:left;
  width:100%;/*左栏上去到第一行*/
  min-height:600px;
}
.left-box{
  float:left;
  width:150px;
  min-height:600px;
  margin-left:-100%;
  background-color: #dbe7f2;
}
.right-box{
  float:left;
  width:180px;
  min-height:600px;
  margin-left:-180px;
  background-color: #dbe7f2;
  box-sizing: border-box;
}
.content-box,.right-box,.left-box{
  margin-top:20px;
}
.content-box-center{
  margin:0 190px 0 160px;
  min-height:600px;
  background-color: #c1e7f0;
}
.left-box .aside-left-box{
  width:130px;
  height:200px;
  overflow:hidden;
  margin:5px 10px;
}
.left-box .aside-left-box a{
  text-decoration: none;
}
.left-box .aside-left-box a p{
  font-size:12px;
  color:#666;
}
.left-box .aside-left-box a .aside-left-box-p1{
  font-size: 13px;
  color:orange;
}
.right-box ol li{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.right-box h2,.left-box h2{
  color:#666;
  font-weight: normal;
}
.right-box ol li a{
  font-size: 12px;
  color: #a6a6a6;
  text-decoration: none;
  transition: All 1s;
}
.right-box ol li a:hover{
  color:#fff;
  font-size: 14px;
}
.right-box ol li span{
  font-size: 16px;
  font-weight: bold;
}
.right-box ol li .span1{
  font-size: 24px;
  color:#f8490b;
}
.right-box ol li .span2{
  font-size: 24px;
  color:#999;
}
.right-box ol li .span-b::before{
  content:"0";
  font-size: 16px;
}
.content-box-center .content-img img{
  width:95%;
  margin-top:10px;
  margin-left:22px;
}
.content-box-center ul li{
  width:95%;
  font-size: 14px;
  margin:5px 20px 5px 22px;
  overflow: hidden;
}
.content-box-center ul li p{
  padding-left: 10px;
}
.content-box-center ul .item1{
  background-color: #b41d23;
  color:#fff;
}
.content-box-center ul .item2{
  background-color: #41633e;
  color:#fff;
}
.content-box-center ul .item3{
  background-color: #f0924a;
  color:#fff;
}
.content-box-center ul .item4{
  background-color: #a4e3a1;
  color:#fff;
}
.content-box-center ul .item5{
  background-color: #0a1312;
  color:#fff;
}
.content-box-center ul .item6{
  background-color: #ff3737;
  color:#fff;
}
.content-box-center ul .item7{
  background-color: #342a66;
  color:#fff;
}
.content-box-center ul .item8{
  background-color: #7bb2ac;
  color:#fff;
}
.content-box-center ul .item9{
  background-color: #222121;
  color:#fff;
}
