*{
    padding:0;
    margin:0;
    font-family: "Microsoft YaHei UI";
}
a{
    text-decoration: none;
}
html {
    width: 100%;
    height: 100%;
}
body{
    width:100%;
    height:100%;
    background:url(../images/2.png);
    background-size: cover;
}
#main{
    width:660px;
    margin:0 auto;
    color:#fff;
    padding-top: 43%;
}
#main .login .span1 a{
    color:#fff;
    font-size: 50px;
    padding-left: 225px;
    padding-right:60px;
}
#main .login .span2 a{
    font-size: 40px;
    color:#3e3e3e;
}
.psw{
    clear:both;
    text-align: center;
}
.psw .psw-p{
    font-size: 40px;
    border-bottom:1px solid #fff;
    padding-bottom:20px;
    padding-top: 60px;
    outline:none;
}
.psw .psw-for a{
    font-size: 20px;
    color:#bebdbd;
}
.psw .psw-for{
    padding-top: 50px;
}
.sign-up{
    display:none;
}
.button{
    padding-left: 120px;
    padding-top: 245px;
}
.button .btn a{
    color:#fff;
}
.button .btn{
    border:1px solid #fff;
    width:405px;
    color:#fff;
    padding: 20px 0;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    cursor: pointer;
}
.button .btn2{
    background: #2553b3;
    border:1px solid #2553b3;
}








