*{
    padding: 0;
    margin: 0;
}
.row{
    height:80px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
}
.row .fa-angle-left{
    float:left;
}
.row .fa-heart-o{
    float:right;
}
.row i{
    padding-top: 35px;
}

.item img{
    width:100%;
}
.carousel-indicators{
    margin-left:15px;
}
.carousel-caption{
    padding:0;
    margin:0;
    font-size: 30px;
}
.date{
    height:60px;
    line-height: 60px;
    font-size: 20px;
}
.date .date-span{
    padding-right:20px;
}


.col-contain-img1 img{
    width:100%;
}
.test{
    overflow: hidden;
    height:150px;
}
.test img{
    height:150px;
    width:100%;
}
.img1 {
    padding-right:0;
}
.img2{
    padding-left:10px;
}
.row-two{
    margin-top: 20px;
}
