*{
    padding: 0;
    margin: 0;
}
html,body{
    width:100%;
    height:100%;
    background: #f2f2f2;
}
.row .row-bg{
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background: #fff;
}
.row .fa-reorder{
    float:left;
    padding-right:20px;
}
.row .fa-shopping-bag,.row .fa-heart-o{
    float:right;
    padding-left:20px;
}
.row .row-bg>a i{
    color:black;
}
.row i{
    padding-top: 20px;
}
.col-xs-6{
    padding-left: 5px;
    padding-right: 5px;
}



.row-image{
    margin-top: 20px;
}
.row-image img{
    width:100%;
    margin-bottom: 10px;
}
.row-col-xs6{
    padding-left:25px;
    padding-right:25px;
}