*{
    padding: 0;
    margin: 0;
}
html,body{
    width:100%;
    height:100%;
    background: #f2f2f2;
}
.row .row-bg{
    height:60px;
    text-align: center;
    font-size: 20px;
    background: #fff;
}
.row .fa-reorder{
    float:left;
    padding-left: 15px;
    padding-right:35px;
}
.row .fa-shopping-bag,.row .fa-heart-o{
    float:right;
    padding-left:15px;
}
.fa-shopping-bag{
    padding-right: 10px;
}
.row .row-bg>a i{
    color:black;
}
.row i{
    padding-top: 20px;
}
.check-span{
    line-height: 50px;
}
.container{
    padding-left: 0;
    padding-right: 0;
}


.information{
    background: #fff;
}
.payment{
    height:60px;
    margin-top:20px;
    padding: 16px 15px 0 15px;
    border-bottom:1px solid #eeeeee;
}
.payment p{
    font-size: 14px;
    font-weight: bold;
}
.content-float{
    height:40px;
    border-bottom:1px solid #eeeeee;
    padding:5px 15px 0 15px;
}

.row-left{
    float: left;
}
.row-right{
    float: right;
}
.color-gray{
    color:#999;
}
.cvv-center{
    height:50px;
    padding: 10px 15px 15px;
    text-align: left;
}

.footer-price{
    padding: 20px 15px 0 15px;
    height:60px;
}

.footer-button{
    background: #fff;
    height:100px;
    padding:25px 15px 0 15px;

}
.footer-btn a{
    color:#937f6b;
}
.footer-btn{
    width:100%;
    height:50px;
    border-radius: 25px;
    background: #efdecc;
    text-align: center;
    padding-top:12px;
}
