*{
    padding: 0;
    margin: 0;
}
html,body{
    width:100%;
    height:100%;
    background: #f2f2f2;
}
/*.main-box{
    width:30%;
    height:40%;
}*/
.row .row-bg{
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background: #fff;
}
.row .fa-reorder{
    float:left;
    padding-right:20px;
}
.row .fa-shopping-bag,.row .fa-heart-o{
    float:right;
    padding-left:20px;
}
.row .row-bg>a i{
    color:black;
}
.row i{
    padding-top: 20px;
}
/*轮播*/
.carousel-inner .item img{
    width:100%;
}
.carousel-indicators li{
    border:1px solid #838383;
    width:7px;
    height:7px;
    margin:0;
}
.carousel-indicators .active{
    background: #838383;
    border:1px solid #838383;
    width:7px;
    height:7px;
}
.carousel-caption{
    width:245px;
    color:#232323;
    left:16%;
    bottom:0;
}
.carousel-caption p{
    font-size: 12px;
    color:#494949;
}
.carousel-indicators{
    bottom:0;
}
/*图片*/
.container-img{
    padding:-15px -15px;
}
/*.col-img{
    padding-right: -15px;
    padding-left:-15px;
}*/
 .row .col-img img{
    width:100%;
}
.container .row .col-img{
    padding-right: 0;
    padding-left: 0;
 }
.col-images img{
    width:100%;
}
 .col-images{
     margin-top: -25px;
    padding-left: 0;
     padding-right: 0;
}
 .row-xs4-img{
     padding:20px 20px;
     background: #fff;
 }
.footer-img{
    width:100%;
    height:100px;
    background: #fff;
    text-align: center;
    line-height: 100px;
    padding-right: -15px;
}
.footer-two{
    padding:0 22%;
}


.row-imgs{
    position: relative;
}
.btn{
    width:20%;
    position: absolute;
    top:420px;
    left:0;
}