*{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    color:#fff;
    font-size: 16px;
}
#outter{
    width:800px;
}
#outter2,#outter3{
    width:160px;
}
#outter3{
    height:200px;
    overflow:hidden;
    margin:100px auto;
}
#outter,#outter2{
    height:40px;
    overflow:hidden;
    margin:100px auto;
}
#inner div{
    float:left;
}
#inner div,#inner2 div,#inner3 div{
    width:160px;
    height:40px;
    background: red;
    text-align: center;
    line-height: 40px;
}
#inner div a:hover,#inner2 div a:hover,#inner3 div a:hover{
    color:orange;
}
#inner{
    width:1600px;
    height:310px;
}
#inner2,#inner3{
    width:160px;
    height:400px;
}